body {
  font-family: "Marvel";
  background-color: black;
}

.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.bantuan {
  width: 100px;
  height: 100px;
}

.card-pertama {
  border-radius: 15px;
  opacity: 85%;
}
.card-kedua {
  border-radius: 15px;
  opacity: 85%;
}
.card-ketiga {
  border-radius: 15px;
  opacity: 85%;
}
.card-keempat {
  border-radius: 15px;
  opacity: 85%;
}

.card-body {
  background-color: #ffffffc6;
  width: auto;
  height: auto;
  min-height: 170px;
  border-radius: 15px;
}

.card-text {
  margin-top: 40px;
  font-family: "Marvel";
  font-size: 30px;
}

.login-window {
  background-color: #ffffffc6;
  width: 70vw;
  padding: 80px 90px;
}

.login-text {
  margin-top: 40px;
  font-family: "Marvel";
  font-size: 30px;
}

.pertama:hover {
  border: 2px solid black;
  cursor: pointer;
  background-color: lightyellow;
  opacity: 100%;
}
.kedua:hover {
  border: 2px solid black;
  cursor: pointer;
  background-color: lightyellow;
  opacity: 100%;
}
.ketiga:hover {
  border: 2px solid black;
  cursor: pointer;
  background-color: lightyellow;
  opacity: 100%;
}
.keempat:hover {
  border: 2px solid black;
  cursor: pointer;
  background-color: lightyellow;
  opacity: 100%;
}

.float{
  position:fixed;
  width:100px;
  bottom:0;
  right:20px;
  font-size:30px;
  z-index:200;
}

html, body {
  height: 100vh;
  background-color: white !important;
}

.global-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-image: url('./Assets/images/backgroundMarvel.jpg');
  background-size: cover;
  opacity: 80%;
}

.login-form {
  width: 380px;
  height: 450px;
  padding: 20px;
  background-color: black;
  border-radius: 10px !important;
}

.login-input {
  height: 80px;
  font-size: 40px;
}

.card-title {
  font-weight: 90;
  padding-top: 20px;
}

.btn {
  background: white !important;
  color: black !important;
  transform: translateY(10px);
  font-size: 14px;
  border-radius: 10px;
}

#jdl-help {
  font-size: 50px;
  color: white;
  font-weight: 800;
}

#main {
  width: 98.9vw;
  height: 150vh;
  background-image: url('./Assets/images/mainBackground.jpg');
  background-size: 100% 100%;
  opacity: 88%;
 }

#main-name-container {
  display: inline-block;
  margin-top: 80px;
  width: 100%;
}

#nama-pemain {
  font-size: 50px;
}

#score-board {
  font-size: 60px;
}

#pertanyaan {
  font-size: 40px;
}

#start-btn {
  font-family: "Marvel";
  font-size: 100%;
  width: 50%;
  height: 60px;
  margin: 0 auto ;
}

#start-btn:hover {
  width: 49%;
  height: 58px;
  font-size: 95%;
  background-color: white;
  color: green;
}

#start-btn-container {
  height: 80px;
  margin-top: 50px;
}