html, body {
    height: 100%;
    background-color: white !important;
}

.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;

}

.login-form {
    width: 380px;
    height: 450px;
    padding: 20px;
    background-color: black;
    border-radius: 10px !important;
}

input[type="text"],
input[type="number"] {
    background-color: #1a2261;
    color: white;
    border: 3px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 25px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    border: none;
    background: black;
    color: white;
    margin: 0;
}

.card-title {
    font-weight: 900;
    padding-top: 20px;
}

.btn {
    background: white !important;
    color: black !important;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px;
}
